<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70146942065-u4gvat51luve8e8av9fe3a31t75ao2ht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70146942065-u4gvat51luve8e8av9fe3a31t75ao2ht</string>
	<key>API_KEY</key>
	<string>AIzaSyB2uZcfQ_dJRyeapS1nKFkX3yY3yUav5sU</string>
	<key>GCM_SENDER_ID</key>
	<string>70146942065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.focumoji</string>
	<key>PROJECT_ID</key>
	<string>focumoji</string>
	<key>STORAGE_BUCKET</key>
	<string>focumoji.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70146942065:ios:5dc58a50fa664c3206a7d0</string>
</dict>
</plist>